*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    width:100%;
    position:relative;
    margin-bottom: 30px;
    /*background-image: repeating-linear-gradient(to right,rgb(83, 120, 146),rgb(157, 73, 134),rgba(218, 116, 57, 0.958));*/
    
}
.headContainer{
    height:120px;
    display: flex;
    align-items: last baseline;
    gap: 20px;
    margin: 0px 30px 60px 30px;
}
.headContainer h1{
    margin-left: 230px;
    margin-right: auto;
    font-size: 70px;
    color: rgb(69, 91, 92);
    text-shadow: 1px 5px 9px ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo{
    position:absolute;
    top:10px;
    height: 140px;
    width: auto;
    border-radius: 50%;
    margin-left: 20px;
    box-shadow: 5px 5px 5px grey;
}
.icons{
    height: 30px;
    width: auto;
    margin-right: 10px;
}
.total{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    width: 150px;
    background-color: rgb(69, 91, 92);
    box-shadow: 5px 2px 5px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(196, 76, 100);
}
.button{
    display:flex;
    gap: 25px;
    padding: 10px 200px 0px 500px;
}
.nextHeadContainer{
    width: 740px;
    padding: 10px 10px 10px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    line-height: 50px;
    justify-content: flex-end;  
}
#banner
{
   height: auto;
   width: 700px;
   padding:20px;
   border-radius: 50px;
}
body{
    background-image: linear-gradient(to right,skyblue,rgba(149, 36, 36, 0.158));
}

body > h1{
    text-align: center;
    /*text-shadow: horizontal-shadow vertical-shadow Blur-radius color*/
    text-shadow: 1px 5px 6px ;
    margin-bottom: 40px;
    color: rgb(69, 91, 92);
    font-weight: 900;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.myImages img{
    height: 250px;
    width: 300px;
    box-shadow: 5px 4px 5px;
    border-radius: 7px;
}
.myImages img:hover{
    border: 5px solid rgb(69, 91, 92);
}
.myImages{
    width: 1500px;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    
}
.quote p{
    width: 900px;
    margin: auto;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 30px;
}
.order{
    width:780px;
    margin: auto;
    display: flex;
    gap: 180px;
    font-size: 20px;
    margin-bottom: 30px;
    background-image: linear-gradient(rgb(238, 90, 134),rgba(58, 36, 36, 0.238));
    padding: 20px;
}
footer{
    width:100%;
    text-align: center;
    padding: 20px;
    font-size:x-large;
}
